<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Business</title>

    <link rel="stylesheet" href="/css2/Business/homeBusiness.css">

    <%- include('../partials/link')  %>
 
</head>
<body>
    <%- include('../partials/navBusiness')  %>
    <section id="feature">
        <div class="home">
            <img src="/image/homeimage2.jpg" alt="Home Image">
            <p>Welcome Our Partner To <br>PPG Groceries Store</p>
        </div>
    </section>
    <%- include('../partials/script')  %>
</body>
</html>