#Navigator {
  background-color: #145124; 
  width: 100%;
  justify-content: space-between;
}

.navbar-brand {
  margin-right: auto; 
  margin-left: 3px;
  margin-top: 0px;
  padding: 0px;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  margin-right: auto ;
}

.navbar-nav .nav-item {
  margin-right: 2%;
}

.navbar-nav .nav-link {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  margin-right: 80px;
  margin-left: 80px;
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid white; 
}

.login {
  font-size: 16px;
  background-color: #F7AE40; 
  border-radius: 10px;
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  color: white;
  margin-left: 5%;
  margin-right: 3%;
}
@media screen and (max-width: 768px) {
  .login {
    font-size: 12px;
    padding: 6px 12px; 
  }
}

.login:hover {
  background-color: #c6831e; 
}
.dropdown-menu {
  color: white;
  background-color:#8181818c ;
  border-bottom: 1px solid #818181;

}
.navbar-toggler {
  font-size: 0.75rem; 
  color: #ffffff; 
}

.navbar-toggler:hover {
  background-color: white; 
  border-color: white; 
}
.navbar-collapse {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    width: 100%; 
    height: 100%;
  }
}

h1{
    font-family: "Mansalva",sans-serif;
    text-align: center;
    padding-top: 80px; 
    padding-bottom: 4%;
}

@media (max-width: 767px) {
  .line {
    margin-left: 5px;
    margin-right: 5px;
  }
  .line p {
    text-align: center;
  }
  #carouselExample{
      border-radius: 0;
  }

  .carousel-container {
      margin: 20px;
  }
  .carousel-item img{
    height: 200px;
  }
  

}
#carouselExample ,#boxesCarousel ,#boxesCarousel2{
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  max-height: 400px;
  position: relative;
}
.carousel-item{
  width: 100%;
  flex: 0 0 auto;
  
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-sizing: border-box;
 
}

@media (max-width: 991px) {
    
    .text-overlay p {
        font-size: 45px; 
    }
}

.topPromotion img {
    height: 200px; 
    width: 100%; 
    border-radius: 20px;
    margin: 2% 0% 2% 0%;
}

@media (max-width: 767px) {
    .topPromotion img {
        width: 100%; 
        height: 80px; 
    }
}

#carouselExample1 .carousel-control-prev,
#carouselExample1 .carousel-control-next{
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 91, 5, 0.734);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 
}

#boxesCarousel2 .carousel-control-prev,
#boxesCarousel2 .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 91, 5, 0.734);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 
}

#boxesCarousel3 .carousel-control-prev,
#boxesCarousel3 .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 91, 5, 0.734);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 
}

@media (max-width: 767px) {
    .carousel-control-prev,
    .carousel-control-next {
        
        font-size: 0.1rem;
        
        padding: 0.25rem 0.5rem;
    }

    #carouselExample1 .carousel-control-prev,
    #carouselExample1 .carousel-control-next,
    #boxesCarousel2 .carousel-control-next,
    #boxesCarousel2 .carousel-control-prev,
    #boxesCarousel3 .carousel-control-next,
    #boxesCarousel3 .carousel-control-prev {

        width: 40px;
        height: 40px;
    }
}


.rectangle1 {
  /* width: 150px; */
  height: 310px;
  width: 295px;
  border: 1px solid black;
  border-radius: 20px;
  margin:2% 2% 5% 1%;
  background-color: #F7F4EF;
}
.rectangle2 {
  width: 295px;
  height: 310px;
  border: 1px solid black;
  border-radius: 20px;
  margin:2% 2% 5% 1%;
  background-color: #FFD37A;
}
.rectangle3 {
  width: 295px;
  height: 310px;
  border: 1px solid black;
  border-radius: 20px;
  margin:2% 2% 5% 1%;
  background-color: #FFB6B6;
}


@media (max-width: 768px) {
  /* .rectangle1, .rectangle2, .rectangle3 {
      width: 150px; 
      height: 120px;
  } */

  .col-md-3 {
      flex: 0 0 25%; 
  }
  .row.justify-content-center {
    justify-content: center; 
}
}
#carouselExample .carousel-control-prev,
#carouselExample .carousel-control-next{
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 91, 5, 0.734);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 
}

#boxesCarousel1 .carousel-control-prev,
#boxesCarousel1 .carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 91, 5, 0.734);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 
}
.container #carouselExample{
    margin-bottom: 50px;
}
.container #boxesCarousel1{
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item .col-md-2 {
        flex: 0 0 16%; 
        max-width: 48%; 
        margin: 0% 0% 6% 0%; 
    }
    
    .list-unstyled.custom-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center; 
    }
}

@media (max-width: 768px) {

  .carousel-item .row {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .carousel-item .row .col-md-2 {
      flex-basis: 90%;
      max-width: 90%;
      margin: auto; 
  }

  .rectangle1 , .rectangle2 , .rectangle3 {
    width: 250px;
    height: 270px;
    border: 1.5px solid black;
    border-radius: 20px;
}
}

/* footer */
#footer {
  background-color: #818181;
  color: white;
  font-size: 16px;
  margin-bottom: 0%;
}
.list-unstyled.custom-list li a {
  text-decoration: none; 
  color: white;
  font-size: 14px;
}

.cart-icon-container {
  position: relative;
  display: inline-block; /* เพื่อให้สามารถกำหนดตำแหน่งของ .cart-count ให้กับตำแหน่งของ cart-icon-container */
}

.cart-count {
  position: absolute;
  top: -7px; /* ปรับตำแหน่งตามต้องการ */
  right: -10px; /* ปรับตำแหน่งตามต้องการ */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 6px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}